.detailsContainer {
  gap: 2rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.poster {
  /* width: 200px; */
  object-fit: cover;
  transition: 0.3s ease;
  border-radius: 0.25rem;
}

.info {
  flex: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s ease;
  margin-bottom: 1.25rem;
}

.trailerLink {
  gap: 0.5rem;
  display: flex;
  font-weight: 500;
  font-size: 1.15rem;
  align-items: center;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  background-color: var(--primary);
}

.trailerLink:hover {
  box-shadow: var(--shadow-large);
}

.rating {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 1.25rem;
  color: var(--primary);
}

.description {
  margin-top: 0.75rem;
}

.meta p {
  margin-top: 0.5rem;
  color: var(--text-secondary);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .poster {
    margin-bottom: 1rem;
  }

  .info {
    /* width: 100%; */
  }

  .title {
    font-size: 1.75rem;
    text-align: center;
  }

  .trailerLink {
    /* display: inline-block;
    text-align: center; */
  }
}
