.bannerContainer {
  width: 100vw;
  height: 75vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100vw;
  height: 100%;
  display: flex;
  padding: 2rem;
  align-items: flex-end;
  border-radius: 0.25rem;
  justify-content: flex-end;
  background: linear-gradient(transparent, hsla(0, 0%, 0%, 0.75));
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .bannerContainer {
    height: 50vh;
  }

  .title {
    font-size: 2.75rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .overlay {
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }
}
