main {
  padding: 2rem;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.75rem;
  transition: 0.3s ease-in;
  color: hsl(355, 95%, 45%);
}

.heading:hover {
  text-shadow: 0 0 30px hsl(355, 95%, 45%, 0.75);
}

.subheading {
  max-width: 700px;
  font-weight: 400;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.formSection {
  width: 100%;
  padding: 1.5rem;
  max-width: 700px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 10%);
}

form {
  gap: 1rem;
  display: flex;
  color: white;
  flex-direction: column;
}

.formGroup {
  gap: 0.5rem;
  display: flex;
  position: relative;
  flex-direction: column;
}

.formControl {
  width: 100%;
  color: white;
  transition: 0.3s;
  font-size: 1.15rem;
  border-radius: 5px;
  padding: 1.75rem 1rem 0.75rem;
  background-color: hsl(0, 0%, 10%);
  border: 1px solid hsl(355, 95%, 45%);
}

textarea.formControl {
  height: 200px;
  resize: vertical;
}

label {
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
  font-weight: 500;
  position: absolute;
  font-size: 1.25rem;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.formControl:focus ~ label,
.formControl:not(:placeholder-shown) ~ label {
  opacity: 0.95;
  color: hsl(355, 95%, 45%);
  transform: scale(0.95) translateY(-0.75rem);
}

.formControl:focus {
  outline: none;
  border-color: hsl(355, 95%, 45%);
  box-shadow: 0 0 10px hsl(355, 95%, 45%);
}

.formControl::placeholder {
  opacity: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  caret-color: white;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-out 0s;
  box-shadow: 0 0 0 30px hsl(0, 0%, 10%) inset !important;
}

.submitBtn {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  color: hsl(0, 0%, 10%);
  transition: 0.3s ease-in;
  background-color: hsl(355, 95%, 45%);
}

.submitBtn i {
  margin-left: 0.5rem;
  color: hsl(0, 0%, 10%);
  transition: 0.3s ease-in;
}

.submitBtn:hover {
  color: white;
  box-shadow: 0 0 30px hsl(355, 95%, 45%, 0.5);
}

.submitBtn:hover i {
  color: white;
}

@media (max-width: 768px) {
  main {
    padding: 1.5rem;
  }

  .heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .formSection {
    padding: 1rem;
  }

  label {
    font-size: 1rem;
  }

  .formControl {
    font-size: 1rem;
    padding-top: 1.5rem;
  }

  textarea.formControl {
    height: 150px;
  }

  .submitBtn {
    font-size: 1.25rem;
  }
}
