.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Logo */
.reelixLogo {
  height: 100px;
  transition: 0.3s ease;
}

/* Title */
.homeTitle {
  font-size: 3rem;
  color: var(--primary);
  transition: 0.3s ease;
  margin-bottom: 0.25rem;
}

.homeTitle:hover {
  text-shadow: var(--shadow-large);
}

/* Search bar */
.searchBar {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-bottom: 1.25rem;
  border-radius: 0.25rem;
}

.searchBar input {
  flex: 1;
  width: 90%;
  height: 50px;
  padding: 1rem;
  font-size: 1.375rem;
  color: var(--text-primary);
  background-color: hsl(0, 0%, 10%);
}

.searchBar button {
  width: 10%;
  font-size: 1.5rem;
  transition: 0.3s ease;
  color: var(--header-bg-color);
  background-color: var(--primary);
}

/* Social links */
.socialLinks {
  gap: 1rem;
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

.socialLink {
  gap: 0.75rem;
  display: flex;
  font-weight: 500;
  text-align: center;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  justify-content: center;
}

.socialLink:hover {
  transform: translateY(-3px) scale(1.05);
}

.facebookSocialLink {
  border: 2px solid #1877f2;
}

.facebookSocialLink:hover {
  box-shadow: 0 0 15px #1877f2;
}

.whatsappSocialLink {
  border: 2px solid #25d466;
}

.whatsappSocialLink:hover {
  box-shadow: 0 0 15px #25d466;
}

.youtubeSocialLink {
  border: 2px solid #ff0033;
}

.youtubeSocialLink:hover {
  box-shadow: 0 0 15px #ff0033;
}

.instagramSocialLink {
  padding: 12px 17px;
  position: relative;
  border-radius: 5px;
  background-clip: padding-box;
  background-origin: border-box;
}

.instagramSocialLink::before {
  inset: 0;
  z-index: -1;
  content: "";
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: linear-gradient(135deg, #e4405f, #962fbf, #4f5bd5, #fa7e1e, #feda75);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.instagramSocialLink:hover {
  box-shadow: 0 0 15px #962fbf;
}

.tiktokSocialLink {
  padding: 12px 17px;
  position: relative;
  border-radius: 5px;
  background-clip: padding-box;
  background-origin: border-box;
}

.tiktokSocialLink::before {
  inset: 0;
  z-index: -1;
  content: "";
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  background: linear-gradient(135deg, #fe2c55, #25f4ee);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.tiktokSocialLink:hover {
  box-shadow: 0 0 15px #25f4ee;
}

.telegramSocialLink {
  border: 2px solid #0088cc;
}

.telegramSocialLink:hover {
  box-shadow: 0 0 15px #0088cc;
}

.messengerSocialLink {
  border: 2px solid #1876f2;
}

.messengerSocialLink:hover {
  box-shadow: 0 0 15px #1876f2;
}

.snapchatSocialLink {
  border: 2px solid #fffc00;
}

.snapchatSocialLink:hover {
  box-shadow: 0 0 15px #fffc00;
}

.redditSocialLink {
  border: 2px solid #ff4500;
}

.redditSocialLink:hover {
  box-shadow: 0 0 15px #ff4500;
}

.xSocialLink {
  border: 2px solid #bebebe;
}

.xSocialLink:hover {
  box-shadow: 0 0 15px #bebebe;
}

/* Informational text */
.informationalText {
  margin-bottom: 2rem;
  transition: 0.3s ease;
}

.informationalText .description {
  padding: 1.5rem;
  line-height: 1.25;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-small);
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
}

.informationalText .subheading {
  text-align: left;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.15rem;
}

.informationalText .text {
  text-align: left;
  line-height: 1.25;
  font-size: 1.15rem;
  color: var(--text-secondary);
}

.informationalText .text:not(:last-child) {
  margin-bottom: 1rem;
}

/* CTA button */
.ctaButton {
  padding: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 500;
  border-radius: 1rem;
  transition: 0.3s ease;
  background-color: var(--primary);
}

.ctaButton:hover {
  box-shadow: var(--shadow-large);
  transform: translateY(-3px) scale(1.05);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .reelixLogo {
    height: 85px;
  }

  .homeTitle {
    font-size: 2.75rem;
  }

  .searchBar input {
    font-size: 1.25rem;
  }

  .searchBar button {
    font-size: 1.375rem;
  }

  .socialLinks {
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    transition: 0.3s ease-in;
  }

  .socialLink {
    padding: 8px 13px;
    font-size: 0.85rem;
  }

  .instagramSocialLink {
    padding: 10px 15px;
  }

  .tiktokSocialLink {
    padding: 10px 15px;
  }

  .informationalText .description {
    padding: 1.25rem;
    font-size: 1.15rem;
  }

  .informationalText .subheading {
    font-size: 1.15rem;
  }

  .informationalText .text {
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .reelixLogo {
    height: 75px;
  }

  .homeTitle {
    font-size: 2.5rem;
  }

  .searchBar input {
    width: 85%;
    font-size: 1.15rem;
  }

  .searchBar button {
    width: 15%;
    font-size: 1.25rem;
  }

  .socialLinks {
    gap: 0.5rem;
    max-width: 50%;
    margin-bottom: 1rem;
  }

  .socialLink {
    padding: 6px 11px;
    font-size: 0.75rem;
  }

  .instagramSocialLink {
    padding: 8px 13px;
  }

  .tiktokSocialLink {
    padding: 8px 13px;
  }

  .ctaButton:hover {
    transform: scale(1.1);
  }

  .informationalText .description {
    padding: 1rem;
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 1.25rem;
  }
}
