.filterContainer {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0rem;
  align-items: center;
  justify-content: center;
}

.select {
  flex: 1;
  display: flex;
  cursor: pointer;
  padding: 0.75rem;
  appearance: none;
  font-size: 1.75rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  color: var(--text-primary);
  border: 2px solid var(--primary);
  font-family: var(--font-bebas-neue), sans-serif;
  background-color: var(--header-bg-color);
}

.select:hover {
  box-shadow: var(--shadow-small);
}

.select:focus {
  box-shadow: var(--shadow-large);
}

.option {
  text-align: center;
  color: var(--text-primary);
  background-color: var(--header-bg-color);
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .select {
    font-size: 1.5rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .filterContainer {
    flex-direction: column;
  }

  .select {
    width: 100%;
    font-size: 1.375rem;
  }
}
