.homeContainer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Logo */
.reelixLogo {
  height: 100px;
  transition: 0.3s ease;
}

/* Title */
.homeTitle {
  font-size: 4.5rem;
  color: var(--primary);
  transition: 0.3s ease;
  font-family: var(--font-bebas-neue), sans-serif;
}

.homeTitle:hover {
  text-shadow: var(--shadow-large);
}

/* Search bar */
.searchBar {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
}

.searchBar input {
  flex: 1;
  width: 90%;
  height: 50px;
  padding: 1rem;
  font-size: 1.375rem;
  transition: 0.3s ease;
  color: var(--text-primary);
  background-color: hsl(0, 0%, 10%);
}

.searchBar button {
  width: 10%;
  font-size: 1.5rem;
  transition: 0.3s ease;
  color: var(--header-bg-color);
  background-color: var(--primary);
}

/* Social links */
.socialLinks {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0rem;
  align-items: center;
  justify-content: center;
}

.socialLink {
  gap: 0.75rem;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  align-items: center;
  padding: 0.75rem 1rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  justify-content: center;
}

.socialLink:hover {
  transform: translateY(-3px) scale(1.05);
}

.instagramSocialLink {
  border: 2px solid #962fbf;
}

.instagramSocialLink:hover {
  box-shadow: 0px 0px 15px #962fbf;
}

.facebookSocialLink {
  border: 2px solid #1877f2;
}

.facebookSocialLink:hover {
  box-shadow: 0px 0px 15px #1877f2;
}

.whatsappSocialLink {
  border: 2px solid #25d466;
}

.whatsappSocialLink:hover {
  box-shadow: 0px 0px 15px #25d466;
}

.youtubeSocialLink {
  border: 2px solid #ff0033;
}

.youtubeSocialLink:hover {
  box-shadow: 0px 0px 15px #ff0033;
}

.redditSocialLink {
  border: 2px solid #ff4500;
}

.redditSocialLink:hover {
  box-shadow: 0px 0px 15px #ff4500;
}

.xSocialLink {
  border: 2px solid #bebebe;
}

.xSocialLink:hover {
  box-shadow: 0px 0px 15px #bebebe;
}

.tiktokSocialLink {
  border: 2px solid #25f4ee;
}

.tiktokSocialLink:hover {
  box-shadow: 0px 0px 15px #25f4ee;
}

.snapchatSocialLink {
  border: 2px solid #fffc00;
}

.snapchatSocialLink:hover {
  box-shadow: 0px 0px 15px #fffc00;
}

.telegramSocialLink {
  border: 2px solid #0088cc;
}

.telegramSocialLink:hover {
  box-shadow: 0px 0px 15px #0088cc;
}

/* Informational text */
.informationalText {
  margin-bottom: 2rem;
  transition: 0.3s ease;
}

.homeDescription {
  padding: 1.5rem;
  line-height: 1.25;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-small);
  border: 2px solid var(--primary);
  background-color: var(--header-bg-color);
}

.subheading {
  text-align: left;
  font-weight: 500;
  font-size: 1.25rem;
  transition: 0.3s ease;
  margin-bottom: 0.15rem;
}

.text {
  text-align: left;
  line-height: 1.25;
  font-size: 1.15rem;
  transition: 0.3s ease;
  color: var(--text-secondary);
}

.text:not(:last-child) {
  margin-bottom: 1rem;
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .reelixLogo {
    height: 85px;
  }

  .homeTitle {
    font-size: 4rem;
  }

  .searchBar input {
    font-size: 1.25rem;
  }

  .searchBar button {
    font-size: 1.375rem;
  }

  .socialLinks {
    gap: 0.75rem;
  }

  .socialLink {
    font-size: 0.95rem;
  }

  .homeDescription {
    padding: 1.25rem;
    font-size: 1.15rem;
  }

  .subheading {
    font-size: 1.15rem;
  }

  .text {
    font-size: 1rem;
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .reelixLogo {
    height: 75px;
  }

  .homeTitle {
    font-size: 3rem;
  }

  .searchBar input {
    width: 85%;
    font-size: 1.15rem;
  }

  .searchBar button {
    width: 15%;
    font-size: 1.25rem;
  }

  .socialLinks {
    gap: 0.75rem;
  }

  .socialLink {
    font-size: 0.85rem;
  }

  .homeDescription {
    padding: 1rem;
    font-size: 1rem;
  }
}
