.tvCard {
  height: 100%;
  display: flex;
  overflow: hidden;
  min-height: 600px;
  transition: 0.3s ease;
  border-radius: 0.25rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.15);
}

.tvCard:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0px 0px 25px hsla(0, 0%, 100%, 0.25);
}

/* TV show poster */
.tvPoster {
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.tvCardContent {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* TV show title */
.tvTitle {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* TV show metadata */
.tvMeta {
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.tvYear,
.tvSeasons {
  font-weight: 400;
  font-size: 1.15rem;
  color: var(--text-secondary);
}

.tvGenre {
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 0.5rem;
  color: var(--text-primary);
}

.tvDescription {
  line-clamp: 5;
  overflow: hidden;
  max-height: 6.5em;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  text-overflow: ellipsis;
  color: var(--text-secondary);
  -webkit-box-orient: vertical;
}
